body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  text-align: center;
}
h2 {
  margin-top: 20px;
}
input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  font-size: 16px;
}
button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}
button:hover {
  background-color: #45a049;
}
button:disabled {
  background-color: #ccc;
}
ul {
  list-style: none;
  padding: 0;
  margin: 20px auto;
  max-width: auto;
}
li {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
span {
  flex-grow: 1;
}
span[style="text-decoration-line: line-through"] {
  text-decoration: line-through;
  color: #888;
}
button {
  margin-left: 5px;
}
p {
  color: red;
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
}

@media (max-width: 600px) {
  input[type="text"] {
    width: 90%;
    font-size: 14px;
  }

  button {
    padding: 8px 16px;
    font-size: 12px;
  }

  li {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    margin-bottom: 15px;
  }

  li > span {
    margin-bottom: 10px;
  }

  .filter-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
  }

  .filter-buttons button {
    font-size: 12px;
    padding: 8px;
  }
}
